body{
font-family: sans-serif;
color: rgb(70, 11, 233);
}

header{
    text-align: center;
}

span{
    background-color: oklab(46.951% 0.18822 -0.06721);
    color: lch(87.9% 87.57 98.36 / 0.911);
    padding: 10px;
    border: 2px solid rgb(13, 233, 5);
    border-radius: 10px;

}