body{
font-family: sans-serif;
color: grey;
}

header{
    text-align: center;
}

span{
    background-color: gray;
    color: white;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;

}